<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-4">
                    <img class="logo" src="img/logo-white.svg" alt="">
                </div>
                <div class="col-lg-2">

                    <ul class="list-unstyled">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Feedback</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Pricing</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">

                    <ul class="list-unstyled">
                        <li><a href="#">Terms and Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Refund Request</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h5 class="text-white">Contact</h5>
                    <ul class="list-unstyled">

                        <li>Email: webot@gmail.com</li>
                        <li>Phone: +977 9840268010</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>