<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                {% load static %}
                <img src="{% static 'images/logo.png' %}" alt="">
            </span>

        </div>
        <i class='bx  toggle'></i>
    </header>
    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="/dashboard/{{user.username}}">
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/preferances">

                        <span class="text nav-text">Preferances</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/history">
                        <span class="text nav-text">History</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/subscription">
                        <span class="text nav-text">Upgrade</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/profile"  >
                        <span class="text nav-text">Profile</span>
                    </a>
                </li>


            </ul>
        </div>

        <div class="bottom-content">
            <li class="">
                <a href="/logout">
                    <span class="text nav-text">Logout</span>
                </a>
            </li>



        </div>
    </div>

</nav>