<!DOCTYPE html>
  <!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %} ">
    <link rel="stylesheet" href="{% static 'css/custom/userbase.css' %} ">
    <link rel="stylesheet" href="{% static 'css/custom/preferances.css' %} "> 
    <link rel="stylesheet" href="{% static 'css/custom/landing.css' %} "> 
    {% block css %}
    {% endblock %}

    <title>
        {% block title %}
        {% endblock %}
    </title>  
</head>
<body>
{% block navbar %}
{% include  'layouts/usernav.html' %}
{% endblock %}

    <section class="home">
        {% block content %}
 
        {% endblock %}
    </section>

    {% load static %}
    <script src = "{% static 'js/custom/userbase.js' %} "> </script>

    {% block js %}

    {% endblock %}
</body>
</html>