<!DOCTYPE html>
  <!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %} ">
    <link rel="stylesheet" href="{% static 'css/custom/userbase.css' %} ">
    <link rel="stylesheet" href="{% static 'css/custom/preferances.css' %} "> 
    <link rel="stylesheet" href="{% static 'css/custom/landing.css' %} "> 
    <link rel="stylesheet" href="{% static 'css/custom/profile.css' %} "> 

    {% block css %}
    {% endblock %}

    <title>
        {% block title %}
        {% endblock %}
    </title>  
</head>
<body>
{% block navbar %}
{% include  'layouts/usernav.html' %}
{% endblock %}

    <section class="home">
        {% block content %}
 
        {% endblock %}
    </section>

    {% load static %}
    <script src = "{% static 'js/bootstrap/bootstrap.min.js' %} "> </script>
    <script src = "{% static 'js/custom/userbase.js' %} "> </script>
    <script src = "{% static 'js/custom/profile.js' %} "> </script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% block js %}

    {% endblock %}
</body>
</html>