{% extends 'layouts/userbase.html' %}

{% block title %}
Dashboard
{% endblock %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/custom/dashboard.css' %} ">

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
{% endblock %}

{% block content %}

<div class=" container container-fluid row dashboard d-flex flex-column">
    <h3>
        Risk Percentage : {{preferances.risk}}
        <br>
        Position Size: {{preferances.positionsize}}
        <br>
        Number of tickers: {{preferances.noticker}}
        <br>
        Strategy : {{preferances.strategy}}
        <br>
        time frame: {{preferances.timeframe}}m
        <br>
        Risk to Reward Ratio: {{preferances.rrratio}}
    </h3>
    <a href="/preferances">
        <button type="button"class="btn btn-primary mb-2">Change Preferances</button>
        </a>
    <a href="/graph/{{user.username}}">
    <button type="button" id="start-bot-btn" class="btn btn-primary">Start</button>
    </a>

    

    </div>
</div>

{% endblock %}

{% block js %}
{% load static %}

{% endblock %}