{% extends 'layouts/base.html'%}
{% block title %}
Home
{% endblock %}


{% block content %}

<div class="pageinfo vh-100 d-flex align-items-center"   id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h1 class="display-4 text-white"> Customizable Algorithmic Trading Bot </h1>
                <p class="text-white my-3">Start now ! Choose your preferred subscription according to your preferances
                    and participate in never sleeping market.</p>
                <a href="/signup" class="btn me-2 btn-primary">Sign Up</a>
                <a href="/login" class="btn btn-outline-dark">Log In</a>
            </div>
        </div>
    </div>
</div>


<section id="features">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 mx-auto text-center">

                <h1>Our Features</h1>
                <p>Sign up Now to unlock all the benefits.</p>
            </div>
        </div>
        {% load static %}
        <div class="row g-4">
            <div class="col-lg-6 col-sm-12">
                <div class="service card-effect bounceInUp">
                    <div class="iconbox">
                        <img class=' ' width="45" height="45"  src="{% static 'images/feature1.png' %} "> 
                    </div>
                    <h5 class="mt-4 mb-2">Runtime</h5>
                    <p> Twenty four hours a day, uninterrupted runtime
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="service card-effect">
                    <div class=" iconbox"    >
                        <img class=' ' width="45" height="45"  src="{% static 'images/feature2.png' %} "> 
                    </div>
                    <h5 class="mt-4 mb-2">Frequency</h5>
                    <p>High Frequency Algorithmic trading </p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="service card-effect">
                    <div class="iconbox">
                        <img class=' ' width="45" height="45"  src="{% static 'images/feature3.png' %} "> 
                    </div>
                    <h5 class="mt-4 mb-2">Customizable</h5>
                    <p>Fully customizable trading strategies </p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="service card-effect">
                    <div class="iconbox">
                        <img class=' ' width="45" height="45"  src="{% static 'images/feature4.png' %} "> 
                    </div>
                    <h5 class="mt-4 mb-2">Management</h5>
                    <p>Risk analysis and management</p>
                </div>
            </div>

        </div>
    </div>
</section>






{% include 'layouts/subscriptions.html'%}

<section id="feedback">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 mx-auto text-center">
                <h1>Send Your Feedback</h1>

            </div>
        </div>

        <form action="" class="feedback-form row g-3 justify-content-center">
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="Nick Name">
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="Email (Optional)">
            </div>
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="Subject">
            </div>
            <div class="col-md-10">
                <textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="Message"></textarea>
            </div>
            <div class="col-md-10 d-grid">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>

    </div>
</section>

{% endblock %}