{% extends 'layouts/base.html' %}
{% block title %}
Register
{% endblock %}
{% block content %}
{% load static %}
<section id="signup">
    <div class="container">
        <div class="row mb-5">
            <div class=" col-md-12 mx-auto text-center">
                <h1>Create Account</h1>
            </div>
        </div>

            <form action="/registered" class="register-form row   justify-content-center" method="POST">
                {% csrf_token %}
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <br>
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="E-mail">
                </div>
                <br>
                <div class="col-md-12">
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <br>
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="API Key">
                </div>
                <br>
                <div class="col-md-12">
                    <input type="password" class="form-control" placeholder="API Secret">
                </div>
                <div class="col-md-12 d-grid">
                    <input type="submit" class="btn btn-primary" value="Register"> 
                </div>
            </form>
    </div>
</section>
{% endblock %} 