{% extends 'layouts/base.html' %}
{% block title %}
Log In

{% endblock %}
{% block content %}
{% load static %}
<section id="signin">
    <div class="container">
        <div class="row mb-5">
            <div class=" col-md-12 mx-auto text-center">
                <h1>Sign In to Your Account</h1>
            </div>
        </div>

            <form action="" class="register-form row   justify-content-center">
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Username" name="username">
                </div>
                <br>
                <div class="col-md-12">
                    <input type="password" class="form-control" placeholder="Password" name="password">
                </div>
                <div class="col-md-12 d-grid">
                    <a href="/preferances"> <button class="btn btn-primary">Log In</button></a>
                </div>
            </form>
    </div>
</section>
{% endblock %} 