{% extends 'layouts/base.html' %}
{% block title %}
Log In

{% endblock %}
{% block content %}
{% load static %}
<section id="signin">
    <div class="container">
        <div class="row mb-5">
            <div class=" col-md-12 mx-auto text-center">
                <h1>Sign In to Your Account</h1>
            </div>
        </div>

            <form action="" class="register-form row   justify-content-center" method="POST">
                {% csrf_token  %}
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Username" name="username">
                </div>
                <br>
                <div class="col-md-12">
                    <input type="password" class="form-control" placeholder="Password" name="password">
                </div>
                <div class = 'col-md-12 text-center err-msg' id="password-message-login">
                    {% if error == 1 %}
                    <p>Username and password doesn't match.</p>
                    {% endif %}
                </div>
                <div class="col-md-12 text-center">
                   <button class="btn btn-primary ma" value="Login">Log In</button>
                </div>
            </form>
    </div>
</section>
{% endblock %} 