{% extends 'layouts/base.html' %}
{% block title %}
Register
{% endblock %}
{% block content %}
{% load static %}
<section id="signup">
    <div class="container">
        <div class="row mb-5">
            <div class=" col-md-12 mx-auto text-center">
                <h1>Create Account</h1>
            </div>
        </div>

            <form action="#"  class="register-form row   justify-content-center" method="POST" id="form">
                {% csrf_token %}
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Username" name="username" id="username">
                </div>
                
                <div class="col-md-12 text-center err-msg" id="register-username-field">
          
                </div>
        
                <br>
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="E-mail" name="email" id="email">
                </div>
                <div class="col-md-12 text-center err-msg" id="register-email-field">

                </div>
                <br>
                <div class="col-md-12">
                    <input type="password" class="form-control" placeholder="Password" name="password" id="password">
                </div>
                <div class="col-md-12 text-center err-msg" id="register-password-field">
        
                </div>
                <br>
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="API Key" name="apikey" id="apikey">
                </div>
<br>
                <div class="col-md-12">
                    <input type="password" class="form-control" placeholder="API Secret" name="apisecret" id="apisecret">
                </div>
                                
                <div class="col-md-12 text-center err-msg" id="register-api-field">
                    
                </div>
                <div class="col-md-12 text-center">
                    <button  value="register" class="btn btn-primary ">Sign Up</button>
                </div>

            </form>
    </div>
</section>
{% load static %}
<script src="{% static 'js/custom/validation.js' %}"></script>
{% endblock %} 